<h1>Create new Post</h1>
<%= form_with model: @post do |f| %>
  <% @post.errors.full_messages.each do |err| %>
    <div class="alert alert-danger"><%= err %></div>
  <% end %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit "Create Post" %>
  </div>
<% end %>
